.button {
  flex-flow: column;
  justify-content: center;
  align-content: center;
  height: 3rem;
  padding: 0 1rem;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  border: none;
  background-color: #fdc129;
  font-size: 1.125rem;
  transition: background-color 0.7s;

  &:hover {
    background-color: #ffdf88;
  }
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    opacity: 0.5;
    outline: none;
  }
}
