.app {
  display: flex;
  flex-flow: column;
  gap: 32px;
  min-height: 100vh;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  background-color: #FBF2EA;
  color: #512b2b;
  padding: 20px;
}

.title {
  font-family: 'swedbank_headlinebold', sans-serif;
  font-size: 32px;
}

.sub-title {
  font-family: 'swedbank_headlinebold', sans-serif;
}

.small-title {
  font-family: 'swedbank_headlinebold', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.page__text {
  font-size: 25px;
  text-align: left;
}

.container {
  max-width: 100%;
}

.row {
  width: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
  gap: 32px;
}

.box--row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.box--stretch {
  align-items: stretch;
  justify-content: flex-start;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%;
  padding: 32px;
  gap: 32px;
  text-align: left;
  background-color: #F9F8F6;
}

.form__group {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 100%;
  gap: 24px;
}

.form__group--narrow {
  gap: 16px;
}

.button-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.label {
  font-weight: 300;
  margin-bottom: 4px;
}

.input {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #d4c4bc;
  border-bottom: 2px solid #72605e;
  border-radius: 2px 2px 0 0;
  box-shadow: none;
  height: 3rem;
  padding: 0 12px;
}

.input--textarea {
  height: auto;
  padding: 16px 12px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-weight: 300;
}

.radio__input {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border: 2px solid #a38b80;
  border-radius: 50%;

  &:hover {
    border-color: #512b2b;
    box-shadow: 0 0 0 .375rem #d4c4bc;
  }

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 1em 1em #512b2b;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.error {
  color: #c5131c;
  font-size: 14px;
}

.error-input {
  border-width: 2px;
  border-color: #c5131c;
}

.hint__button {
  display: flex;
  gap: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #257886;
  cursor: pointer;
  font-size: .875rem;
  line-height: 1rem;
  padding-right: .25rem;
}

.hint__text {
  color: #72605e;
  font-size: .875rem;
}

