.app {
  display: flex;
  flex-flow: column;
  gap: 32px;
  min-height: 100vh;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  background-color: #FBF2EA;
  color: #512b2b;
  padding: 20px;
}

.title {
  font-family: 'swedbank_headlinebold', sans-serif;
  font-size: 32px;
}

.sub-title {
  font-family: 'swedbank_headlinebold', sans-serif;
}

.small-title {
  font-family: 'swedbank_headlinebold', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.page__text {
  font-size: 25px;
  text-align: left;
}

.container {
  max-width: 100%;
}

.row {
  width: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
  gap: 16px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.summary {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%;
  padding: 32px;
  gap: 32px;
  text-align: left;
  background-color: #ebf8f2;
}

.summary__list {
  line-height: 1;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.summary__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.summary__item {
  border-bottom: 1px solid #ebe7e2;
  padding: 16px;
}

.summary__box {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  align-items: flex-start;
  width: 100%;
  padding: 32px;
  gap: 32px;
  text-align: left;
  background-color: #F9F8F6;
}

.form__group {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 100%;
  gap: 24px;
}

.form__group--narrow {
  gap: 16px;
}

.button-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.input {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #d4c4bc;
  border-bottom: 2px solid #72605e;
  border-radius: 2px 2px 0 0;
  box-shadow: none;
  height: 3rem;
  padding: 0 12px;
}

.input--textarea {
  height: auto;
  max-width: 100%;
  padding: 16px 12px;
}

.label {
  font-weight: 300;
  margin-bottom: 4px;
}

.label--radio {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.label--radio__input {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #a38b80;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border-color: #512b2b;
    box-shadow: 0 0 0 .375rem #d4c4bc;
  }

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 1em 1em #512b2b;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.label--checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 0;
}

.label--checkbox__input {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #a38b80;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    border-color: #512b2b;
  }

  &:hover::before {
    background-color: #d4c4bc;
    border-radius: 50%;
    content: "";
    height: 36px;
    width: 36px;
    top: -6px;
    left: -7px;
    position: absolute;
    z-index: -1;
  }

  &:checked {
    border-color: #512b2b;
    background-color: #512b2b;
    background-image: url("https://design.swedbankpay.com/v/9.1.0/designguide/assets/check-mark.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.tooltip {
  position: relative;

  &:hover .tooltip__text {
    visibility: visible;
  }
}

.tooltip__text {
  visibility: hidden;
  position: absolute;
  top: -10px;
  z-index: 9001;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
  font-size: 14px;
  max-width: 250px;
  min-width: 80px;
  padding: 12px 16px;
  pointer-events: none;
  text-align: center;
  transform: translateY(-100%);
  transition: opacity .3s ease-in-out;

  &::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
  }
}

.select {
  background-color: #ffffff;
  border: 1px solid #d4c4bc;
  border-bottom: 2px solid #72605e;
  border-radius: 2px 2px 0 0;
  box-shadow: none;
  height: 3rem;
  padding: 0 .75rem;
}

.error {
  color: #c5131c;
  font-size: 14px;
}

.error-input {
  border-width: 2px;
  border-color: #c5131c;
}

.hint__button {
  display: flex;
  gap: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  color: #257886;
  cursor: pointer;
  font-size: .875rem;
  line-height: 1rem;
  padding-right: .25rem;
}

.hint__text {
  color: #72605e;
  font-size: .875rem;
}

